.card {
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
  
#main-title {
  font-weight: 700;
}

section {
    margin: 0;
    padding: 40px 0 0;
}

ul.nav-bar-container {
  list-style-type: none;
  margin: 0;
  padding-bottom: 500px;
  padding: 0;
  overflow: hidden;
  background-color: #6f7980;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: +10000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li.nav-bar-element {
  float: left;
}

li.nav-bar-element a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li.nav-bar-element a:hover {
  background-color: #414142;
  color: white;
}

/* Changes the box colour on click */
li.nav-bar-element a:active {
  background-color: #04AA6D;
}

/* Source text formatting */
p.source-text {
  font-size: 10pt; 
  color: grey;
}
