.card {
  background-color: black;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000032;
  
}
  
#main-title {
  font-weight: 700;
}

section {
    margin: 0;
    padding: 40px 0 0;
}

/* Source text formatting */
p.source-text {
  font-size: 10pt; 
  color: grey;
}

/* Nav bar background */
ul.nav-bar-container {
  list-style-type: none;
  margin: 0;
  padding-bottom: 500px;
  padding: 0;
  overflow: hidden;
  background-color: #008080;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000032;
}

li.nav-bar-element {
  float: left;
}

li.nav-bar-element a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li.nav-bar-element a:hover, li.nav-bar-element button#glossary:hover {
  background-color: #60b0b0;
  color: white;
}

/* Changes the box colour on click */
li.nav-bar-element a:active, li.nav-bar-element button#glossary:active {
  background-color: #003039;
}

/* Glossary button - replicate styling of rest of nav bar */
li.nav-bar-element button#glossary {
  height: 52px;
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  -webkit-border-radius: 0px;
}

/* Glossary modal dialog box styling*/
.glossary-button {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

